// $primaryColor: #007D34;
$primaryColor: #0C7952;
$secondaryColor:  #2db44b;
$accent: #C8E6C9;
$link: #007D34;
$greyBackgroud: #F5F5F5;
$greenBackgroud: #e8f3e9;
$success: #4CAF50;
$warning: #FFC107;
$danger: #FF5722;
$info: #2196F3;
$lightGray: #757575; 
$gray: #4C4D4F;
$darkGreen: #007551;
$creamBackground: #E0D9CC;
$paleGrayBackground: #F3F1EC;
// $primaryColor: #009688;
// $secondaryColor:  #4CAF50;
// $accent:  #B2DFDB;
// $link: #009688;

// $primaryColor: #0071CE;
// $secondaryColor: #C0D62F;