@import 'colors';
// @import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@300;400;500;600;700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif!important;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.page-section a {
  color: $primaryColor;
  text-decoration: none;
}

.page-section a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.page-section .btn {
  font-size: 15px;
  // text-transform: capitalize!important;
}
.btn.btn-danger {
  background: $danger;
  border: 1px solid $danger;
}
.btn.btn-info {
  background: $info;
  color: #fff;
  border: 1px solid $info;

}
.btn.btn-info:hover {
  color: #fff;
}
.btn.btn-success {
  background: $success;
  color: #fff;
  border: 1px solid $success;

}
.btn.btn-primary {
  background: $primaryColor;
  color: #fff;
  border: 1px solid $primaryColor;

}
.btn.btn-darkGreen {
  background: $darkGreen;
  color: #fff;
  border: 1px solid $primaryColor;
  &:hover{
    background: #024b34;
  color: #fff;
  }

}
.btn.btn-secondary {
  background: $lightGray;
  color: #fff;
  border: 1px solid $lightGray;

}
.btn.btn-warning {
  background: $warning;
  color: #fff;
  border: 1px solid $warning;

}
.btn.btn-warning:hover {
  color: #fff;
}

.dropdown-toggle.btn.btn-success {
  background: transparent;
}

.table-action {
  margin-bottom: 20px;
  .btn {
    margin-right: 10px;
    font-size: 15px;
  }
}


nav.navbar.navbar-expand-lg{
  justify-content: center;
  a.nav-link{
    color: #000!important;
    text-transform: capitalize!important;
    font-family:  "Helvetica Neue" !important;
    border-bottom: 2px solid transparent;
    padding:0 !important;
    margin: 20px;
    font-weight: 500;
    padding: 0;
    margin: 20px;
    padding-bottom: 10px;
    font-size: 1.1em;
  }
  a.nav-link:hover{
    border-bottom: 2px solid $primaryColor;
    color: $primaryColor!important;
  }
  a.nav-link.active{
    border-bottom: 2px solid $primaryColor;
    color: $primaryColor!important;

  }
  a:hover{
    text-decoration: none!important;
  }
 

  .navbar-collapse {
    flex-grow: inherit;
  }
  .nav-dropdown {
    button {
      background: none;
      border: none;
      padding: 0;
      text-transform: capitalize;
      border-bottom: 2px solid transparent;
      padding: 0 !important;
      margin: 20px;
      border-radius: 0;
      color: #000;
    }
    button:hover {
      background: none;
      border-bottom: 2px solid $primaryColor;
      color: $primaryColor;
    }
    button::after {
      display: none;
    }
    button.btn.show {
      background: none!important;
      border-color: #fff;
    }
    .dropdown-menu {
      background-color: $creamBackground;
      top: 60px;
      left: 20px;
      padding: 10px;
    }
    .dropdown-item {
      background: none!important;
      padding: 0;
      margin-bottom: 10px;
      border-bottom: 2px solid transparent;
    }
    .dropdown-item:hover {
      background: none!important;
      border-bottom: 2px solid $primaryColor;
      color: $primaryColor;
    }
    .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show{
      background: none;
      border: none;
    }
  }
}


.page-section {
  padding: 5% 10px;
}
.page-section.grey {
  background-color: #F5F5F5;
}

.stream-icon-box {
  .stream-icon {
    background-repeat: no-repeat;
    background-position: center top 10px;
    height: 220px;
    padding: 15px;
    position: relative;
     display: flex;
     justify-content: center;
    .tick {
      background: url(/images/stream-tick.png) 0 0 no-repeat;
      width: 45px;
      height: 49px;
      position: absolute;
      top: 14px;
      right: 0;
    }
    .stream-title{
      position: absolute;
      bottom: 10px;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      padding: 0 10px;
    }
  }  
  a:hover {
    text-decoration: none;
  }
  .stream-icon.stream1 {
    background-image: url(/images/stream/stream-icons1.png);
    background-color: #324c97;
    .stream-title{
      color: #fff;
    }
  }
  .stream-icon.stream2{
    background-image: url(/images/stream/stream-icons2.png);
    background-color: #dbd449;
    .stream-title{
      color: #000;
    }
  }
  .stream-icon.stream3 {
    background-image: url(/images/stream/stream-icons3.png);
    background-color: #a42359;
    .stream-title{
      color: #fff;
    }
  }
  
  // .stream-icon.stream4 {
  //   background-image: url(/images/stream-icons4.png), url(/images/stream-icons4-1.png);
  //   background-position: left top 40px, right 10px top 40px;
  //   background-repeat: no-repeat, no-repeat;
  //   background-size: 50% auto, 50% auto;    // background-color: #ca3335;
  //   background-color: #000;
  //   padding-right: 10px;
  //   box-sizing: border-box;
  
  //   .stream-title{
  //     color: #fff;
  //   }
  // }
  .stream-icon.stream4 {
    background-image: url(/images/stream/stream-icons4.png);
    background-color: #000;
    .stream-title{
      color: #fff;
    }
  }
  .stream-icon.stream5 {
    background-image: url(/images/stream/stream-icons5.png);
    background-color: #32a04e;
    .stream-title{
      color: #fff;
    }
  }
  .stream-icon.stream6 {
    background-image: url(/images/stream/stream-icons6.png);
    background-color: #d23435;
    .stream-title{
      color: #fff;
    }
  }
}



input {
  width: 400px;
  margin-bottom: 20px!important;
}

input.form-control {
  margin-bottom: 10px!important;
}
table input.form-control {
  font-size: 14px;
  // width: fit-content;
}
table thead tr th div{
  display: flex;
  justify-content: center;
  align-items: center;
}
table td.correct-answer-column{
  background: #eef9ee;
}

.invalid-feedback {
  margin-bottom: 20px!important;

}

input[type="file"] {
  font-size: 15px;
  margin-bottom: 10px!important;
}

input[type="image" i] {
  width: 100%;
  height: 200px;
  margin: 0!important;
 padding: 10px!important;
 object-fit: cover;
}

.selected {
  border: 2px solid #C0D62F; /* Change border color as needed */
  background-color: lightblue; /* Change background color as needed */
}

.navigation-buttons {
  display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.nav-tabs.nav-fill .nav-link.active {
  color: #fff;
  background: green;
}
.nav-tabs.nav-fill .nav-link {
  color: #000;
}

.form-control {
  appearance: auto!important;
}

.form-control.form-recaptcha {
  background: none;
  border: none;
}



Table {
  font-size: 15px!important;
  th{
    vertical-align: middle;
    text-align: center; // Add this line to center content horizontally
  }
  td{
    display: table-cell;
    vertical-align: middle;
    text-align: center; // Add this line to center content horizontally
  }
  button {
    width: 80px;
    font-size: 14px!important;
  }
} 

.account-container {
  width: 100%;
  // max-width: 900px;
  .section-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
    padding: 10px 0;
    
  }
  form {
    max-width: 600px;
  }
  .account-container-left {
    div {
  
      margin: 10px;
      // border-bottom: 1px solid #ddd;
    }
    button.btn.btn-primary  {
      background: none;
      border: none;
      color: #000;
      width: 100%;
      padding: 0;
      text-align: left;
      font-weight: 500;
    }
    button.btn.btn-primary:hover {
      background: none;
      color: $primaryColor;
    
    }
    button.btn.active {
      background: none;
      color: $primaryColor;
    }
  
  }
}

.success-message {
  padding: 0 5px;
  color: green;
}
.error-message {
  padding: 0 5px;
  color: red;
}

.input-group-text {
  height: 42px!important;
}


button.btn.btn-primary {
  background: $primaryColor;
  border: 1px solid $primaryColor;
}

button.btn.btn-primary:hover {
  background: $secondaryColor;
  border: 1px solid $secondaryColor;
}

.progress .progress-bar {
  background-color: $primaryColor;
}

.pagination {
  display: flex;
  justify-content: center;
}

.scroll-section {
  overflow-x: auto;
}

.video-player {
  transition: width 0.5s, transform 0.5s; 
  width: 100%; 
  margin: 0 auto; 
  transform-origin: center; /* Ensure transformations are centered */
}

.video-player.minimized {
  width: 50%; 
  margin: 0 auto;
  transform: none; 
}


.sort-table-icon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 5px;
  // svg {
  //   transform: scaleY(0.5); // Scale the height to 50%
  // transform-origin: center; // Ensure the icon scales from its center
  // }
  svg.active {
    color: #000;
  }
  svg.inactive {
    color: #c1baba;
  }
}

.sorting-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.sorting-indicator.asc:before {
  content: "\f142";
}

.sorting-indicator.desc:before {
  content: "\f140";
}


@media (max-width:960px ) {
  input[type="image" i] {
    width: 100%;
    height: auto;
    margin: 0!important;
    padding: 5px!important;
  }
  .row .padding10px {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width:767px ) {
  h4, .h4 {
    font-size: 1.1rem!important;
  }
}

.video-player {
  visibility: inherit;
}
.video-player.videoLoading {
  visibility: hidden;
}

.questionWithAnswer {
  margin-left: 60px;
  @media (max-width:767px ) {
    margin-left: 40px;
  }
}

.answer-icon {
  font-size: 60px;
  position: absolute;
  top: 0;
  left: -60px;
  @media (max-width:767px ) {
    font-size: 40px;
    left: -40px;
  }
  &.correct-icon-big{
    color: $primaryColor;
  }
  &.wrong-icon-big {
    color: red;
  }
}
.stream-question-container {
  position: relative;
}
.correct-icon-xlg {
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: 100px;
  color: $primaryColor;
}

.option-label {
  display: inline-block;
  margin-right: 10px; /* Adjust this value as needed for spacing */
}
