@import 'colors';

.container {
  max-width: 1024px;
  padding: 0 20px;
  margin: 30px auto;
}

.containerLg {
  max-width: 1440px;
  padding: 0 20px;
  margin: 30px auto;
}

.headerContainer {
  background: $primaryColor;
  padding: 10px;
}
.fixedHeader {
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; // Ensures navbar stays above other content
  // background-color: #ffffff; // Assuming you want a white background; adjust as needed
}
.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;

}
/* styles/layout.module.scss */
.headerPlaceholder {
  height: 130px;  // adjust based on your header height
  visibility: hidden;
}


.logo {
  width: 150px;
  height: auto;
}

.pageContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footerContainer {
  background-color: $secondaryColor;
  color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width:767px) {
 
  .logo {
    width: 120px;
  }

  .header {
    flex-direction: column;
  }

  .pageContainer {
    width: 100%;
  }
}
@media (max-width:450px) {
  // .headerTop {
  //   flex-direction: column;
  // }
  .footerContainer {
    flex-direction: column;
  }
}